[gerrit-reports]

# Report details
database_name = /path/to/gerrit.db

# Gerrit details
gerrit_api_url = https://gerrit.wikimedia.org/r/

# Wiki details
wiki_api_url = https://www.mediawiki.org/w/api.php
wiki_username = Username
wiki_password = Password
wiki_root_page = Gerrit/Reports/
wiki_edit_summary = Testing...
wiki_header_template = {{gerrit reports header}}
wiki_footer_template = {{gerrit reports footer}}
